.Header {
    display:flex;
    flex-direction: row;
    text-align: center;
    width:100%;
    height: 25px;
    justify-content: space-around;
    align-items: center;
    background: rgb(201, 200, 200) ;
  }
.telephone{
    display:flex;
    flex-direction: row;
  }
  
.address{
    display:flex;
    flex-direction: row;
  }