.Header {
    display:flex;
    flex-direction: row;
    text-align: center;
    width:100%;
    justify-content: space-around;
    align-items: center;
  }
  
  
  
.Header-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  