.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
form{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.educationLine{
  display:flex;
  flex-direction: row;  
  align-items: center;
  justify-content: space-between !important;
  width: 80%;
  font-size: 35px;
  font-weight: bold;
  padding-left: 10%;
  margin-left: 10%;
  padding-right: 10%;
  margin-right: 10%;  
}

.myForm{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
label{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
input{
  margin-left: 5px;
  margin-bottom: 10px;
}
#education{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right:  10%;
  width: 80%;
}
#experience{
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-left: 10%;
  margin-right:  10%;
  width: 80%;
}
button{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 10px;
}
button:hover{
  background: rgb(219, 219, 219);
  margin: 10px;
}
.buttonPlus{
  background: transparent;
  border-style: none;
  font-size: 35px;
  font-weight: bold;
}
.buttonPlus:hover{
  background: rgb(235, 234, 234);
  border-style: none;
  font-size: 35px;
  font-weight: bold;
}
.hidden { display:none; }
.buttonsLine{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}